{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <h1>쓰레드 작성</h1>
  <hr />
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.non_field_errors }}
    <div class="mb-3">
      <label for="{{ form.title.id_for_label }}" class="form-label">제목</label>
      {{ form.title }} {{ form.title.errors }}
    </div>
    <div class="mb-3">
      <label for="{{ form.content.id_for_label }}" class="form-label"
        >내용</label
      >
      {{ form.content }} {{ form.content.errors }}
    </div>
    <div class="mb-3">
      <label for="{{ form.reading_date.id_for_label }}" class="form-label"
        >복용시작일</label
      >
      {{ form.reading_date }} {{ form.reading_date.errors }}
    </div>
    <div class="d-flex flex-row justify-content-start align-items-center gap-2">
      <button type="submit" class="btn btn-outline-success">전송</button>
      <a href="{% url 'pills:detail' pill.pk %}" class="btn btn-outline-danger"
        >취소</a
      >
    </div>
  </form>
</div>
{% endblock content %}
